[Desktop Entry]
Type=Application
Name=org-protocol
Icon=emacs
TryExec=emacsclient
Exec=sh -c "emacsclient -s \"\\$XDG_RUNTIME_DIR/emacs/server\" %u"
Terminal=false
MimeType=x-scheme-handler/org-protocol;
NoDisplay=true
