[Desktop Entry]
Type=Application
Name=With Emacsclient
Icon=emacs
TryExec=emacsclient
Exec=emacsclient %F
Terminal=false
MimeType=application/pdf;
NoDisplay=true
